<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Set Violet instead of Siri</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>label</key>
                <string>Set Violet</string>
                <key>defaults</key>
                <string>com.appleworm.violetprefrences</string>
                <key>key</key>
                <string>ShowOnSiri</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Background Blur</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>default</key>
                <real>0.5</real>
                <key>defaults</key>
                <string>com.appleworm.violetprefrences</string>
                <key>min</key>
                <real>0.0</real>
                <key>max</key>
                <real>1.0</real>
                <key>showValue</key>
                <true/>
                <key>isSegmented</key>
                <false/>
                <key>key</key>
                <string>OnSiriBlur</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Sphere</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>label</key>
                <string>Hide</string>
                <key>defaults</key>
                <string>com.appleworm.violetprefrences</string>
                <key>key</key>
                <string>HideOrb</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Special Thanks</string>
                <key>footerText</key>
                <string>Spied a couple of hooks from your Astolfo :D</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>cellClass</key>
                <string>AWSourceLinkCell</string>
                <key>source</key>
                <string>GitHub</string>
                <key>username</key>
                <string>Traurige</string>
                <key>height</key>
                <real>60</real>
                <key>customSourceImage</key>
                <string>heart</string>
                <key>color</key>
                <string>#CCCCFF</string>
                <key>action</key>
                <string>thanksAlexa</string>
            </dict>
        </array>
        <key>title</key>
        <string>VioletPreferences</string>
    </dict>
</plist>
