Package: dr.erast.violet
Name: Violet
Architecture: iphoneos-arm
Description: The maid for your 📱 
Maintainer: Erast <applewormdev@gmail.com>
Author: Erast <applewormdev@gmail.com>
Section: Tweaks
dev: Erast
Depends: mobilesubstrate, ws.hbang.common (>= 1.17), firmware (>= 14.0), com.mrgcgamer.libgcuniversal
Icon: file:///Library/PreferenceBundles/VioletPreferences.bundle/icon_large.png
Version: 1.1.1-2+debug
Installed-Size: 2560
